Source: kodi-diskdetect
Priority: optional
Maintainer: Sebastian Bachmann <hello@reox.at>
Build-Depends: debhelper (>= 10), make, gcc

Package: kodi-diskdetect
Architecture: any
Depends: kodi
Description: Detect DVD and BluRays and keep only the latter mounted.
